<!-- views/pages/entities.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

<header>
  <% include ../partials/header %>
</header>

<main>
  <div class="jumbotron">
    <div class="row flex-row">
      <div class="col-sm-8">
        <h1 class="text-capitalize"><%= entities %></h1>
      </div>
      <div class="col-sm-4">
        <a href="<%= entities %>/create" class="btn btn-primary btn-create text-capitalize" role="button">Crea <%= entity %></a>
      </div>
    </div>
    <table
      data-toggle="table"
      data-pagination="true"
      data-search="true">
      <thead>
        <tr>
          <% for (var i = 0; i < columns.length; i++) { %>
            <th data-sortable="true" data-field="<%= columns[i] %>"><%= translations[columns[i]] %></th>
          <% } %>  
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < data.length; i++) { %>
          <tr>
            <td><a href="/<%= entities %>/<%= data[i][columns[0]] %>"><%= data[i][columns[0]] %></a></td>
            <% for (var j = 1; j < columns.length; j++) { %>
              <td><%= data[i][columns[j]] %></td>
            <% } %>
          </tr>    
        <% } %>
      </tbody>
    </table>
  </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>